<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 m-auto">

        <!-- HEADER -->
        <h3 class="text-center mb-3">
          <i class="fab fa-js-square fa-lg brand-logo-color"></i><span class="title-margin">Awesome JS Dev
            Indonesia</span>
        </h3>

        <!-- BOX PENCARIAN -->
        <div class="card card-body mb-1">
          <p class="lead">
            A list of <strong class="block-awesome">AWESOME</strong> JavaScript developers and programmers from
            Indonesia , which are interesting to follow and become places of learning. Please search by entering
            keywords in the search box below. Want to add another developer? Please <a routerLink="/tentang-app">check
              here</a>.
          </p>
          <!-- <p class="lead">
            Daftar developer dan programmer JavaScript dari Indonesia yang <strong
              class="block-awesome">AWESOME</strong> , yang menarik untuk diikuti dan menjadi tempat pembelajaran.
            Silahkan cari dengan memasukkan kata kunci di kotak pencarian di bawah ini. Ingin menambahkan pengembang
            yang lain? Silahkan <a routerLink="/tentang-app">cek disini</a>.
          </p> -->

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control" (keyup)="searchDeveloper($event.target.value)"
              [(ngModel)]="stringPencarian" type="text" id="search" class="form-control form-control-lg"
              placeholder="Insert the keywords...">
          </div>

          <!-- PROGRESS MEMUAT HALAMAN -->
          <div class="d-flex justify-content-center" *ngIf="isProgressBarShowed">
            <div class="spinner-grow text-danger" role="status">
              <!-- <span class="sr-only">Loading...</span> -->
            </div>
            <div class="spinner-grow text-danger" role="status">
              <!-- <span class="sr-only">Loading...</span> -->
            </div>
            <div class="spinner-grow text-danger" role="status">
              <!-- <span class="sr-only">Loading...</span> -->
            </div>
          </div>
        </div>


        <!-- LIST CARD -->
        <div id="match-list">

          <div class="card bg-light border-secondary mb-3 cardmargin"
            *ngFor="let devitem of listPengembangFiltered; trackBy: trackListByFunctions; let indx = index">
            <div class="card-body">
              <h4 class="card-title name-theme">{{devitem.stringNama}}</h4>
              <p class="card-text paragraph-theme">
                <span *ngIf="checkItemShowed(devitem.stringSkill)">Skill {{devitem.stringSkill}} . </span>
                <span *ngIf="checkItemShowed(devitem.stringGithubUrl)">Github profile <a
                    href="{{devitem.stringGithubUrl}}" target="_blank"> {{devitem.stringGithubAlias}}</a> .
                </span>
                <span *ngIf="checkItemShowed(devitem.stringFacebookUrl)">Facebook profile <a
                    href="{{devitem.stringFacebookUrl}}" target="_blank">{{devitem.stringFacebookAlias}}</a> .
                </span>
                <span *ngIf="checkItemShowed(devitem.stringTwitterAlias)">Twitter profile <a
                    href="{{devitem.stringTwitterUrl}}" target="_blank">{{devitem.stringTwitterAlias}}</a> .
                </span>
                <span *ngIf="checkItemShowed(devitem.stringLinkedInUrl)">LinkedIn profile <a
                    href="{{devitem.stringLinkedInUrl}}" target="_blank">{{devitem.stringLinkedinAlias}}</a> .
                </span>
                <span *ngIf="checkItemShowed(devitem.stringBlogAlias)">Blog homepage <a href="{{devitem.stringBlogUrl}}"
                    target="_blank">{{devitem.stringBlogAlias}}</a> .
                </span>
                <span *ngIf="checkItemShowed(devitem.stringMediumUrl)">Medium profile <a
                    href="{{devitem.stringMediumUrl}}" target="_blank">{{devitem.stringMediumAlias}}</a> .
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
